.container > h1 {
  padding: 5rem 0 7rem;
  font-size: 5rem; 
  font-weight: 700; 
  text-align: center; 
  color: #ffa500; 
}

.container .movies .Movie {
  display: grid;
  grid-template-columns: minmax(15rem, 1fr) 2fr;
  gap: 2rem;
  margin-bottom: 7rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 300;
  color: #adaeb9;
}

.container .movies .Movie:first-child { margin-top: 4rem; }

.Movie img {
  position: relative;
  top: -5rem;
  width: 100%;
  max-width: 15rem;
  margin-right: 3rem;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .025);
}

.Movie .Movie_title { margin-bottom: .5rem; font-size: 2.4rem; color: #2c2c2c; }
.Movie .Movie_genres { display: flex; flex-wrap: wrap; margin: .5rem 0; }
.Movie .Movie_genres > li,
.Movie .Movie_year { margin-right: 1rem; font-size: 1.4rem; }
.Movie .Movie_summary {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}